<h1><%=@user.username%>'s profile</h1>
<div>
  <h2>Created Challenges</h2>
  <% if user_signed_in? && (current_user.id == @user.id) %>
    <%= link_to "Create New Challenge", new_challenge_url %>
  <%end%>
  <p>no challenges</p>
  <h2>Completed Challenges</h2>
  <p>no submissions</p>
</div>
