<h1>Home Page</h1>
<p>Welcome to Challenge Code</p>
<h2>Get started</h2>
<% if user_signed_in? %>
  <%= link_to "Challenges", challenges_path, class: "button button-primary" %>
<%else%>
  <%= link_to "Sign up!", new_user_registration_path, class: "button button-primary" %>
<%end%>
