<p id="notice"><%= notice %></p>

<h1>Challenges</h1>

<% if user_signed_in? %>
  <%= link_to 'Create New Challenge', new_challenge_path, class: "button" %>
<%end%>

<%= render "shared/challenges_table" %>

<br>

